.screen-container {
	min-width: 100%;
	min-height: 30vh;
}

.screen-video-player {
    min-width: 100%;
    min-height: inherit;
}


@media screen and (orientation: landscape) {
    .screen-container {
        min-height: 90vh;
    }
}

@media screen and (min-width: 540px){
    .screen-container {
        min-height: 50vh;
    }
}

@media screen and (min-width: 1366px) and (min-height: 768px){
    .screen-container {
        min-height: 65vh;
    }
}
